@page{
    size: 21cm 29.7cm;
}
/*
@media screen {

}
body{
    height: 3508px;
    width: 2480px;
}*/
/*.numbers{
    text-align: center;
}
.main{
    height: 3508px;
}
/*.pouet{
    height: 800px;*!
}*/
.h-10{
    height:10% ;
}
/*
.my-menu{
    background: green;
}
.my-content{
    background: red;
}*/
.h-33{
    height:33% ;
}
.h-67{
     height:67% ;
 }
